
<%-include("header")-%>
<div id="heading" class="box">
    <h1><%=listTitle%></h1>
</div>

<div class="box">
        <div class="firstForm">
        <form action="/create" method="post">
            <input type="text" name="createList" class="cateogery" placeholder="Create or Goto todo's" autocomplete="off">
            <button type="submit" class="position" >+</button>
        </form>
        </div>
        <%newlistItem.forEach((item)=>{%>
        <form action="/delete" method="post">
            <div class="item">    
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                <p><%=item.name%></p>
            </div>
            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
        <%});%>
        <form class="item" action="/" method="post">
            <input type="text" name="newitem" id=""  placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
</div>
<%-include("footer")-%>
    
